.header {
  text-align: center;
}

.inputContainerDiv {
}

.flexDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tableDiv {
  max-height: 300px;
  max-width: 400px;
  font-size: 20px;
  border: 2px solid #ccc;
  overflow: auto;
}

.dataTable {
  border-collapse: separate;
  border-spacing: 0 5px;
  width: 100%;
}

.dataTable td {
  padding: 5px;
}

.dataTable tr {
  border-bottom: 100px solid #3498db;
}

.test {
  border-bottom: 100px solid #3498db;
}

.dataTable tr:last-child {
  border-bottom: none;
}
